{% if page.bg %}
  <aside class="sidebar" role="note" style="background-image: url({{ site.images | relative_url }}/{{ page.bg }})">
{% else %}
  <aside class="sidebar" role="note" style="background-image: url({{ site.images | relative_url }}/code.jpg)">
{% endif %}

  <div class="cover">

    <div class="cover-text">
      <div class="heading">
        {% if page.display_name %}
          {{page.display_name}}
        {% else %}
          {{ page.title }}
        {% endif %}

      </div>

      <p>
        {% if page.author %}
          {{ page.author }}
        {% endif %}
        {% if page.layout == 'people' %}
          {{ page.title }}
        {% endif %}
        {% if page.summary %}
          {{ page.summary }}
        {% endif %}
      </p>

    </div>
  <div class="footer">{% include footer.html %}</div>

  </div>

  <div id="switcher"></div>

</aside>


